.breadcrambs {
  margin: 40px 0 10px 27px;
}

.breadcrambs__list {
  display: flex;
  font-style: italic;
  font-size: 14px;
}

.breadcrambs__item:after {
  content: '/';
  color: #000;
}

.breadcrambs__link {
  color: #f9aa42;
}

.breadcrambs__link--back:hover {
  text-shadow: 1px 1px 2px #f9aa42;
  transition: .3s;
}

.breadcrambs__item--active:after {
  display: none;
}

.breadcrambs__link--active {
  text-decoration: none; 
  color: #000;
}




