.features {
  width: 100%;
  border: 1px solid #000000;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 62px;

}

.features__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 22px;
}

.features__ad {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 2px;
  display: block;
}

.features__text,
.features__list-inside {
  font-size: 18px;
  line-height: 1.75em;
}

.features__list-inside {
  padding: 4px 0 0 40px ;
}

.features__item-inside {
  text-align: left;
  list-style: disc inside;
  padding-bottom: 4px;
}

.features__text {
  margin-top: 9px;
  padding: 0 44px;
  letter-spacing: 1px;
}