.social__item {
  display: inline-block;
}

.social__list {
  margin-top: 5px;
}

.social__title {
  font-size: 14px;
  font-weight: bold;
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d0d0d0;
  line-height: 17px;
  margin-right: 6px;
  text-align: center;
}



.social__link:hover {
  background: #f89513;
  transition: 0.3s;
}